@import "tailwindcss";

@theme {
  --breakpoint-ss: 30rem;
  --breakpoint-xs: 35rem;
}

body {
  font-family: 'Aeonik', sans-serif;
  background-color: #F8F8F8;
}
.play-arrow-icon {
  font-size: 28px;
}

@media (max-width: 640px) { /* Tailwind's sm breakpoint */
  .play-arrow-icon {
    font-size: 18px;
  }
}